<app-page-topbar-nav></app-page-topbar-nav>

<div *ngIf="view === ''" class="card mg-3">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Baits' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6"></div>
      <div class="text-lg-end pt-2">
        <button id="create" class="btn btn-primary" type="button" (click)="createBait()">
          <i class="fa fa-plus me-1"></i>
          <span>{{ "::NewBait" | abpLocalization }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="bait.items" [count]="bait.totalCount" [list]="list" [columnMode]="'force'" default>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Type' | abpLocalization" prop="baitType">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ baitTypeLabel(row.baitType) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Brand' | abpLocalization" prop="brand"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Size' | abpLocalization" prop="sizeMm">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ sizeDisplay(row.sizeMm, row.sizeUnit) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [width]="100" [minWidth]="100" [maxWidth]="100" [resizeable]="false" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="row-actions">
            <button class="btn btn-sm btn-outline-primary" [title]="'::Edit' | abpLocalization" (click)="editBait(row.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" [title]="'::Delete' | abpLocalization" (click)="deleteBait(row.id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div *ngIf="view === 'baitForm'" class="card mg-3">
  <div class="card-header">
    <h3>{{ (baitItem ? '::EditBait' : '::NewBait') | abpLocalization }}</h3>
  </div>

  <div class="card-body">
    <app-bait-form #baitFormRef [bait]="baitItem" (saved)="onBaitSaved()" (cancelled)="closeBaitForm()"></app-bait-form>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-secondary button-pad" (click)="closeBaitForm()" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="baitFormRef.save()" [disabled]="baitFormRef.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </div>
</div>
