//topbar
.home-topbar-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.home-title-grid {
    grid-template-columns: auto auto;
}
.thumbnail-image {
    width: 25px;
    height: 25px;
}

//navigation
.homepage-navigation {
    height: 30px;
    width: 100%;
    background-color: #1db309;
}