<app-page-topbar-nav></app-page-topbar-nav>

<div *ngIf="view === ''" class="card mg-3">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ '::Menu:Tickets' | abpLocalization }}</h5>
      </div>
      <div class="text-lg-end pt-2">
        <button id="create" class="btn btn-primary" type="button" (click)="createTicket()">
          <i class="fa fa-plus me-1"></i>
          <span>{{ "::NewTicket" | abpLocalization }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="ticket.items" [count]="ticket.totalCount" [list]="list" [columnMode]="'force'" default>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [width]="100" [minWidth]="100" [maxWidth]="100" [resizeable]="false" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="row-actions">
            <button class="btn btn-sm btn-outline-primary" [title]="'::Edit' | abpLocalization" (click)="editTicket(row.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" [title]="'::Delete' | abpLocalization" (click)="deleteTicket(row.id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div *ngIf="view === 'ticketForm'" class="card mg-3">
  <div class="card-header">
    <h3>{{ (ticketItem ? '::EditTicket' : '::NewTicket') | abpLocalization }}</h3>
  </div>

  <div class="card-body">
    <form *ngIf="ticketForm" [formGroup]="ticketForm">
      <div>
        <label for="ticket-name">Name</label><span> * </span>
        <input type="text" id="ticket-name" class="form-control" formControlName="name" autofocus />
      </div>
    </form>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-secondary button-pad" (click)="closeTicketForm()">
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="saveTicket()" [disabled]="ticketForm.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </div>
</div>
