/* hide hierarchy */
.k-hierarchy-cell {
    display: none;
  }
.close {
  float:right;
} 
h1 {
  padding-top: 5px;
}
kendo-card-footer button {
  margin-right: 10px;
}
.viewDropdown {
  max-width: 300px;
  margin-bottom: 10px;  
} 
.top-strip {
  display: block;
  width: 100%;
  display:flex;
}
.search-box {
  float:left;
  flex-grow: 1;
}
.k-grid {
  font-size: 10px;
}
.main-grid {
  min-height: 200px;
  max-height: calc(100vh - 200px);
}
 
.grid-footer-strip {
  width: 100%;
  text-align: right;
}