<div class="home-topbar-items">
  <div class="home-title-grid">
    <h4 class="mg-t-3 mg-b-3 mg-l-2">
      {{ '::SessionLogger' | abpLocalization }} <img src="/assets/images/logo/logo-light-thumbnail.png" class="thumbnail-image">
    </h4>
  </div>
  <div class="login-button mg-r-2">
    <btn *ngIf="!hasLoggedIn" (click)="login()" class="btn btn-login ms-1">
      <i class="fa fa-sign-in"></i> {{ 'AbpAccount::Login' | abpLocalization }}
    </btn>
  </div>
</div>

<div class="homepage-navigation mg-b-2">

</div>

<div class="grid-container pd-l-2 pd-r-2">
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/perch.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Perch</h3>
  </div>
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/northern-pike.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Northern Pike</h3>
  </div>
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/common-carp.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Common Carp</h3>
  </div>
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/barbel.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Barbel</h3>
  </div>
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/chub.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Chub</h3>
  </div>
  <div class="grid-item">
    <img src="/assets/images/homepage-grid-images/tench.jpg" class="homepage-grid-image-style">
    <h3 class="grid-item-text">Tench</h3>
  </div>
</div>